.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 40px;
    background-color: white;
}

.button-lm{
    background: white;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 1px;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
 }