
*{
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
	margin: 0;
    padding: 0;
	font-weight: normal;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
	letter-spacing: 2px;
	line-height: 20pt;
	font-weight: normal;
}
img{
	max-width: 100%;
}

/*Nav Section*/

nav{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding: 0 10%;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	right: 0;
}
nav ul{
	list-style: none;
}
nav ul a{
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;
}
nav ul li{
	position:relative;
    float:left;
    margin:0;
    padding:0;
  }
nav ul li:hover {
	box-shadow: 0 0.1px 10px rgba(245, 169, 70, 0.288), 0 0.1px 0.1px rgba(245, 169, 70, 0.288);
}
nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
	padding:0;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
nav ul ul li {
	float:none;
	min-width:150px;
	
}
nav ul ul a {
    padding:10px 25px;
}
nav ul li:hover > ul {
    display:block;
}
/*Intro section*/
#intro{
	min-height: 120vh;
}

.intro-title {
	font-size: 60px;
}
.intro-subtitle {
	font-size: 20px;
}
/*Services*/

#services{
	margin-top: -100px;
}

/*Works*/
#works{
   padding: 5rem;
   
}
#works h5 {
	display: inline-flex;
	margin: 2rem;
}
/*News*/

.news{
	padding: 7rem;
}

/*Design */

#design{
	margin-top: 150px;
}

/*Footer*/

#footer{
	margin-top: 150px;
	min-height: 50vh;
	background: black;
	color: white;
	box-shadow: 0 0.1px 10px rgba(0,0,0,0.16), 0 0.1px 0.1px rgba(0,0,0,0.23);
}

#footerbar{
	display: block;
	background: rgb(65, 64, 64);
	padding: 1.5rem 3rem;
	color: white;
}

#footerbar li{
	display: inline-block;	
}

#footerbar a{
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25rem;
}
